body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  background-color: #5462E0;
}

p {
  font-family: Impact, sans-serif;
  color: #36342A;
  background-color: #8B8262;
  display: inline-block;
  padding: 5px 10px;
}

.portrait, .bio-image, .section-image, .dameInfoText {
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.bio-section, .section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.dameInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.linksToPages {
  text-align: center;
  margin-top: 40px;
}

.linksToPages a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}


h1, h2, h3 {
  font-family: "Trebuchet MS", sans-serif;
  color: #E0C153;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
a, button {
  border-radius: 8px;
  background-color: #E0C153;
  color: #5462E0;
  padding: 8px 16px;
  text-decoration: none;
}


.reverse {
  flex-direction: row-reverse;
}








